{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}


{% block main %}

    {% if password_is_changed %}
        <div class="alert alert-success" role="alert">
          Password changed successfully!
        </div>
    {% endif %}
    {% if cash_is_added %}
        <div class="alert alert-success" role="alert">
          Cash added successfully!
        </div>
    {% endif %}

    <div id = "account">
        <div class="username">
            <h3>{{username}}</h3>
        </div>
        <div id="blocks">
            <form id="form" action="/reset_password" method="POST">
                <div class="account">
                    <h5>Change password</h5>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" name="old password" placeholder="Current password" type="password" required>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" name="new password" placeholder="New password" type="password" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </form>

            <form id="form" action="/add_cash" method="POST">
                <div class="account">
                    <h5>Add cash</h5>
                    <p>Current balance: {{cash | usd}}</p>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control" name="added cash" placeholder="$" type="number" required>
                    </div>


                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}