{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table id="portfolio">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>l</td>
            <td>h</td>
            <td></td>
            <td>h</td>
        </tr>
        <tr>
            <td>l</td>
            <td>h</td>
        </tr>
    </tbody>
</table>

{% endblock %}