body{
    margin: 17px 34px;
}


/* layout.html */

.header {
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
}

.todoIcon {
    width: 50px;
    height: 16px;
}

.todoIcon img {
    width: auto;
    height: 100%;
}

.accountIcon {
    width: 50px;
    height: 40px;
}

.accountIcon img {
    width: auto;
    height: 100%;
    float: right;
}

a:link {
    text-decoration: none;
  }

.logo h1{
    color: #F6BF4E;
    font-family: 'Spectral', serif;
    font-size: 24px;
    font-weight: extra-bold;
    float: center;
}



/* index.html */

.containerTimer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.containerTimer input[type=text] {
    border: none;
    color: #373500;
    font-size: 36px;
    height: 43px;
    text-align: center;
    width: 515px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .7px;
}

.containerTimer input[type=text]::placeholder{
    color: #ccc9c9;
    font-size: 36px;
    letter-spacing: .7px;
}

.containerTimer input:focus {
    outline: none;
}

.containerTimer input:focus::placeholder {
    color: transparent;
  }

