{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block body %}
    <div class="accountContent">
        <div class="accountHeader">
            <p>Hi, {{username}}!</p>
            <h1>Keep up the good work</h1>
        </div>

        <div class="historyContent">
            <div id="weekday">Today</div>
            <div id="date">October, 14</div>
        </div>

        <div class="totalTimer">2h 13m</div>

        <div class="historyTable">
            <table id = "history">
                <tbody>
                    <tr>
                        <td>42m</td>
                        <td>Review</td>
                    </tr>
                    <tr>
                        <td>30m</td>
                        <td>Biology</td>
                    </tr>
                    <tr>
                        <td>20m</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>41m</td>
                        <td>Math</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}