{% extends "layout.html" %}

{% block title %}
    Octopus
{% endblock %}

{% block body %}
  
  <div id="myNav" class="containerTodo">
    <div class="todoContent">
      <div class="todoArrow">
        <img src="/static/todoclose.png" alt="close to-do lists" id="buttonClose">
      </div>
      <div class="todoLists">
            <ul>
              <li><input type="checkbox">The paper</li>
              <li><input type="checkbox">Ideas for project</li>
              <li><input type="checkbox">Research</li>

              <form action="/todolist" method="POST">
                <input type="checkbox">
                <input type="text" type="checkbox" name="todoItem" placeholder="Add a new task">
                <button type="submit">Add</button>
              </form>
            </ul>

            
            
      </div>
    </div>
  </div>


  <div class="containerTimer">
    <input id="timerInput" type="text" placeholder="What do you want to focus on?" value="" maxlength="29"/>
    <div class="wrapper">
        <div class="bigcircle">
          <div class="smallcircle">
            <div class="timer">
              <input id="minutes" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number"
              maxlength = "2" min="0" max="60" value="25" name="minutes">
              <p id="semicolon">:</p>
              <input id="seconds" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number"
              maxlength = "2" min="0" max="59" value="00" name="seconds">
            </div>
          </div>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle class="circleProgress" cx="50" cy="50" r="46.5" />
        </svg>

    </div>

    <div class="timerButtons">
      <button class ="btnPrimary" id="start" type="submit">Start</button>
      <button class ="btnPrimary" id="break">Take a break</button>
      <button class ="btnPrimary" id="continue">Continue</button>
      <button class ="btnPrimary" id="finish">Finish session</button>
    </div>

  </div>

  <script src="static/index.js"></script>
  <script src="static/todolists.js"></script>

{% endblock %}
