{% extends "layout.html" %}

{% block title %}
    Octopus
{% endblock %}

{% block body %}
  
  <div id="myNav" class="containerTodo">
    <div class="todoContent">
      <div class="todoArrow">
        <img src="/static/todoclose.png" alt="close to-do lists" id="buttonClose">
      </div>
      <div class="todoLists">
        <ol>
          <li>Biology</li>
            <ul>
              <li>read the paper</li>
              <li>ideas for project</li>
              <li>research</li>
            </ul>
          <li>Chemistry</li>
            <ul>
              <li>read the paper</li>
              <li>ideas for project</li>
              <li>research</li>
            </ul>
        </ol>
      </div>
    </div>
  </div>


  <div class="containerTimer">
    <input id="timerInput" type="text" placeholder="What do you want to focus on?" value="" />
    <div class="wrapper">
        <div class="bigcircle">
          <div class="smallcircle">
            <div class="timer">
              <input id="minutes" type="number" min="0" max="60" value="25" name="minutes"><p id="semicolon">:</p><input id="seconds" type="number" min="0" max="59" value="00" name="seconds">
            </div>
          </div>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle class="circleProgress" cx="50" cy="50" r="46.5" />
        </svg>

    </div>

    <div class="timerButtons">
      <button class ="btnPrimary" id="start" type="submit">Start</button>
      <button class ="btnPrimary" id="break">Take a break</button>
      <button class ="btnPrimary" id="continue">Continue</button>
      <button class ="btnPrimary" id="finish">Finish session</button>
    </div>

  </div>

  <script src="static/index.js"></script>
  <script src="static/todolists.js"></script>

{% endblock %}
