{% extends "layout.html" %}

{% block title %}
    Octopus
{% endblock %}

{% block body %}
  
  <div id="myNav" class="containerTodo">
    <div class="todoContent">
      <div class="todoArrow">
        <img src="/static/todoclose.png" alt="close to-do lists" id="buttonClose">
      </div>
      <div class="todoLists">
        <ol>
          <li>Biology</li>
            <ul>
              <li>read the paper</li>
              <li>ideas for project</li>
              <li>research</li>
            </ul>
          <li>Chemistry</li>
            <ul>
              <li>read the paper</li>
              <li>ideas for project</li>
              <li>research</li>
            </ul>
        </ol>
      </div>
    </div>
  </div>


  <div class="containerTimer">
    <input type="text" placeholder="What do you want to focus on?" />
    <div class="wrapper">
      <div class="circles">
        <div class="bigcircle"></div>
        <div class="bigcircle2"></div>
        <div class="smallcircle"></div>
      </div>

      <div class="timer">
        <input id="minutes" type="number" min="0" max="60" value="25"><p id="semicolon">:</p><input id="seconds" type="number" min="0" max="59" value="00">
      </div>
    </div>

    

    <div class="timerButtons">
      <button class ="btnPrimary" id="start">Start</button>
      <button class ="btnPrimary" id="break">Take a break</button>
      <button class ="btnPrimary" id="continue">Continue</button>
      <button class ="btnPrimary" id="finish">Finish session</button>
    </div>

  </div>

  <script src="static/index.js"></script>
  
{% endblock %}
